<a-scene embedded="" arjs="sourceType: webcam;" physics="debug: true; friction: 0.1; restitution: 1.25; gravity: -0.8;">
  <a-marker-camera preset='custom' type="pattern" url="https://arjs-cors-proxy.herokuapp.com/https://raw.githubusercontent.com/louisg404/ar-mspr/main/src/app/home/rhino.patt"></a-marker-camera>
  <!-- <a-plane static-body="static-body" rotation="-90 0 0" scale="3 3 3" color="blue"></a-plane> -->
  <a-gltf-model dynamic-body="dynamic-body" src="https://arjs-cors-proxy.herokuapp.com/https://raw.githack.com/AR-js-org/AR.js/master/aframe/examples/image-tracking/nft/trex/scene.gltf" scale="0.1 0.1 0.1" position="0 0 0"></a-gltf-model>
</a-scene>
<!-- GLTF model from: https://ten-thousand-models.appspot.com/detail.html?file_id=40746-->